.navbar{
    margin-bottom: 0px;
}

.adyen-checkout__payment-method__brands img {
  display: block;
}
.signin-social-separator .vl {
    width: 1px;
    height: 100%;
    margin: 0 auto;
    background-color: #ddd;
}

#storeList {
    max-height: 250px;
    margin-bottom: 10px;
    overflow:scroll;
}
.signin-button {
    background-color: #007bff;
    width: 90px;
    height: 30px;
    color: white;
    border: 0;
    border-radius: 5px;
}

.center-align {
  letter-spacing: -4px;
  text-align: center;
  font-size: 0;
  padding-left: 50px;
  padding-right: 50px;
}
.center-align [class*='col-'] {
  display: inline-block;
  vertical-align: top;
  letter-spacing: 0;
  font-size: 14px;
  float: none;
}

.seller-card, .seller-option, .kyc-card {
    display: block;
    position: relative;
    border: 1px solid #e5eaef;
    border-radius: 6px;
    padding: 24px;
    margin: 24px 0 0 0;
    flex-grow: 1;
    min-height: 260px;
    color: #00112c;
    background-color: white;
}

.payment-option {
    border: 1px solid #e5eaef;
    border-radius: 6px;
    margin: 24px 0 0 0;
    flex-grow: 1;
    color: #00112c;
    background-color: white;
}

.kyc-card:hover {
    display: block;
    position: relative;
    border: 1px solid #06f;
    border-radius: 6px;
    padding: 24px;
    margin: 24px 0 0 0;
    flex-grow: 1;
    min-height: 120px;
    color: #00112c;
    background-color: white;
    text-decoration: none;
}

#storeItem:hover {
  border: 1px solid #06f;
}

.seller-option-text {
  height: 100px;
  padding: 0 20px 0 20px;
}

.seller-info {
  display: block;
  position: relative;
  border: 1px solid #e5eaef;
  border-radius: 6px;
  padding: 24px;
  flex-grow: 1;
  min-height: 120px;
  color: #00112c;
  background-color: white;
}

.store-details {
  display: block;
  position: relative;
  border: 1px solid #e5eaef;
  border-radius: 6px;
  margin: 0 20px 0 20px;
  flex-grow: 1;
  width: 40px;
  height: 120px;
  color: #00112c;
  background-color: white;
}


.vl {
    text-align: center;
    position: relative;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#bannerImage{
    padding-top:75px;
    padding-bottom:50px;
    margin-bottom: 20px;
    text-align:center;
    color:#f8f8f8;
    background:url(../img/intro-bg_1.jpg);
    background-size:cover;
}

#bannerContent{
    position:relative;
    padding-top:6%;
    padding-bottom:6%;
    margin-top:12%;
    margin-bottom:12%;
    background-color:rgba(0,0,0,0.7);
    max-width:660px;
}


html {
    min-height:100%;
    position:relative;
}

.footer {
    position: absolute;
    bottom:0;
    right:0;
    left:0;
}

@media (min-width:320px){
    #autoResize{
        font-size:12px;
    }
}
@media (min-width:481px){
    #autoResize{
        font-size:16px;
    }
}
@media (min-width:641px){
    #autoResize{
        font-size:18px;
    }
}
@media (min-width:961px){
    #autoResize{
        font-size:20px;
    }
}
@media (min-width:1000px){
    #autoResize{
        font-size:26px;
    }
}

body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

img._1hsGR._3XiaH {
    height: 2.4rem;
    min-width: 3.8rem;
    display: block;
    border: 1px solid #212b36;
    border-radius: 3px;
}
